/*
  Variables
*/

$headingFontFamily : 'Ubuntu', Helvetica, Arial, sans-serif;

/*
  Mixins, functions and other Sass utilities
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin animationDelay($time) {
  animation-delay: $time;
  -webkit-animation-delay: $time;
  -moz-webkit-animation-delay: $time;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*
  Main Code
*/

* {
  -webkit-font-smoothing:antialiased;
}

html, body {
  height:100%;
  padding:0;
  margin:0;
}

body {
  background: url(../img/image1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topHeader {
  min-height:100%;
  background: linear-gradient(135deg, #505464, #404453);
  @include opacity(0.95);
  img {
    max-width: 100%;
    margin:0 auto;
  }
  h1 {
    font-family: $headingFontFamily;
    color:#fff;
    text-align: center;
    margin:0 auto;
    margin-top: calculateRem(100px);
    @include  font-size(100px);
    @include animationDelay(1s);
  }
  p {
    text-align: center;
    color:rgba(255,255,255,0.5);
    @include animationDelay(1s);
    @include  font-size(20px);
  }
}

.mainContent {
  margin-top:calculateRem(20px);
  border-top:2px solid rgba(255,255,255,0.1);
  padding:calculateRem(20px) 0;
  @include animationDelay(2s);
}

.topMenu {
  list-style: none;
  padding: calculateRem(10px) 0;
  &.floatRight {
    direction: rtl;
    li {
      direction: ltr;
      a {
        color:#fff;
      }
    }
  }
  li {
    display: inline-block;
    margin-right:30px;
    @include font-size(18px);
    a {
      color:rgba(255,255,255,0.5);
      i {
        @include font-size(24px);

      }
    }
  }
}

/*
  Shared Classes and utilities
*/

/*
  Media queries
*/

@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

/*
  Foundation and other frameworks modifications
*/
