/*
  Variables
*/

$headingFontFamily : 'Ubuntu', Helvetica, Arial, sans-serif;

/*
  Mixins, functions and other Sass utilities
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin animationDelay($time) {
  animation-delay: $time;
  -webkit-animation-delay: $time;
  -moz-webkit-animation-delay: $time;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius:$radius;
}

@mixin box-shadow($args) {
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

/*
  Main Code
*/

* {
  -webkit-font-smoothing:antialiased;
}

html, body {
  height:100%;
  padding:0;
  margin:0;
}

body {
  background: url(../img/image1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topHeader {
  min-height:100%;
  background: linear-gradient(135deg, #505464, #404453);
  @include opacity(0.90);
  img {
    max-width: 100%;
    margin:0 auto;
  }
  h1 {
    font-family: $headingFontFamily;
    color:#fff;
    text-align: center;
    margin:0 auto;
    margin-top: calculateRem(100px);
    @include  font-size(100px);
    @include animationDelay(1s);
  }
  p {
    text-align: center;
    color:rgba(255,255,255,0.5);
    @include animationDelay(1s);
    @include  font-size(20px);
  }
}

.betaButton {
  background:rgba(255,255,255, 1);
  padding: calculateRem(30px);
  color: rgba(218,68,83, 0.5);
  font-family: $headingFontFamily;
  text-shadow:none;
  -webkit-text-shadow:none;
  -moz-text-shadow:none;
  border:none;
  position: relative;
  top: calculateRem(100px);
  @include font-size(20px);
  @include animationDelay(3s);
  @include border-radius(3px);
  &:hover {
    color:#fff;
    background: rgba(218,68,83, 0.5);
  }

}

.mainContent {
  margin-top:calculateRem(100px);
  padding:calculateRem(20px);
  background: rgba(255,255,255,0.2);
  @include border-radius(3px);
  @include animationDelay(2s);
  @include box-shadow(2px 2px 2px rgba(0,0,0,0.05));
  p {
    text-align: left;
  }
}

.topMenu {
  list-style: none;
  padding: calculateRem(10px) 0;
  &.floatRight {
    direction: rtl;
    li {
      direction: ltr;
    }
  }
  li {
    display: inline-block;
    margin-right:30px;
    @include font-size(18px);
    a {
      color:rgba(255,255,255,0.5);
      &.active {
        color:#fff;
      }
      i {
        @include font-size(24px);
      }
      &:hover {
        color:#fff;
      }
    }
  }
}

/*
  Shared Classes and utilities
*/

/*
  Media queries
*/

@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

/*
  Foundation and other frameworks modifications
*/
